body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #615f5f;
  padding-top: 60px;
}

/* menu fixo */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #333;
  padding: 10px 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: xx-large;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #370fda;
}

/* conteudo principal */

h1 {
  font-size: 2.5em;
  color: #090909;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 1.6em;
  color: #000000;
  margin-bottom: 20px;
  text-align: justify;
}

.portfolio {
  font-size: 1.4em;
  color: #e8a20d; /* para editar os link dos portifolio */
  text-decoration: none;
  transition: color 0.2s, text-decoration 0.2s;
}
.portfolio:hover {
  color: #dbae0a; /* laranja mais claro */
  text-decoration: underline;
}

.portfolio:visited {
  color: #ad621c; /* laranja escuro */
}

.foto_inicio {
  display: flex;
  justify-content: center;
  gap: 32px; /* Espaço entre as imagens */
  margin: 32px 0;
}

.foto_inicio img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px; /*bordas arredondadas */
  box-shadow: 0 2px 8px rgba(0,0,0,0.08); /* sombra leve */
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background: #9f9e9e;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.imagem-conhecimento {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}

.imagem-conhecimento img {
  width: 800px;
  height: 400px;
  object-fit: cover;
  border-radius: 12px; /* Opcional: bordas arredondadas */
  box-shadow: 0 4px 16px rgba(0,0,0,0.12); /* Opcional: sombra leve */
}

/*para contato */
form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
  font-weight: bold;
}

form input, form textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  background: #333;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background: #3321d7;
}




